@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
$font:  'Open Sans', sans-serif;
$special:'Raleway', sans-serif;
$light: 400;
$bold: 700;